
Python_GIS/shapes/COMUNA/COMUNAS_2020.CPG
Python_GIS/shapes/COMUNA/COMUNAS_2020.dbf
Python_GIS/shapes/COMUNA/COMUNAS_2020.prj
Python_GIS/shapes/COMUNA/COMUNAS_2020.sbn
Python_GIS/shapes/COMUNA/COMUNAS_2020.sbx
Python_GIS/shapes/COMUNA/COMUNAS_2020.shp
Python_GIS/shapes/COMUNA/COMUNAS_2020.shx
Python_GIS/shapes/PROVINCIA/PROVINCIAS_2020.CPG
Python_GIS/shapes/PROVINCIA/PROVINCIAS_2020.dbf
Python_GIS/shapes/PROVINCIA/PROVINCIAS_2020.prj
Python_GIS/shapes/PROVINCIA/PROVINCIAS_2020.sbn
Python_GIS/shapes/PROVINCIA/PROVINCIAS_2020.sbx
Python_GIS/shapes/PROVINCIA/PROVINCIAS_2020.shp
Python_GIS/shapes/PROVINCIA/PROVINCIAS_2020.shx
Python_GIS/shapes/REGION/REGIONES_2020.CPG
Python_GIS/shapes/REGION/REGIONES_2020.dbf
Python_GIS/shapes/REGION/REGIONES_2020.prj
Python_GIS/shapes/REGION/REGIONES_2020.sbn
Python_GIS/shapes/REGION/REGIONES_2020.sbx
Python_GIS/shapes/REGION/REGIONES_2020.shp
Python_GIS/shapes/REGION/REGIONES_2020.shx
